<html>
    <head>
        <title>Electric Plan</title>
    </head>
    <body>
            <div>
                    <h1><a href="/">Regional Carbon Forecast</a></h1>
            </div>
                
                {% for page in pages %}
                    <div>
                        <h1><a href="">{{ page.title }}</a></h1>
                        <h2>{{ page.text|linebreaksbr }}</h2>
                    </div>
                {% endfor %}


            <div>
                Current API time is : {{ time }} UTC
                <p>Current intensity:

                    <font color="blue">{{ intensity|linebreaksbr }}</font></p>
                <p>{{ fuel }} is generating {{ fuel_pc }}% </p>
            </div>
                <b>Time &emsp; Int. &ensp; % </b>
                {% for line in fcast %}
                    <div>
                        {{ line }}
                    </div>
                {% endfor %}

    </body>
</html>