<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    
    <style>
      * {
        font-family: sans-serif;
      }
      h4 {
        background-color: rgb(174, 174, 239);
      }
      
      </style>
  </head>
  <body>
    <H1>
      Plan your use of UK electricity 
    </H1>

    <H4> By default, this page shows electricity for North West England's network operator, ElectricityNW</H4>
    Electricity sources vary around the country so to plan your use correctly, you need to set your National Grid region below. <br>
    If you are unsure of your region, you can try using this page to help : <a href="https://en.wikipedia.org/wiki/Distribution_network_operator">Energy Networks Map</a>
    <br>
    <H5>Select your region: </H5><br>

    <form action="" method="post" name="region_choose">
      <select name="menu" id="region">
      <option value="1">N Scotland - Scottish Hydro Electric Power</option>
      <option value="2">S Scotland - SP Distribution</option>
      <option value="4">NE England - NPG North East</option>
      <option value="5">Yorkshire - NPG Yorkshire</option>
      <option value="6">N Wales and Merseryside - SP Manweb</option>
      <option value="7">S Wales - WPD South Wales</option>
      <option value="8">W Midlands - WPD West Midlands</option>
      <option value="9">E Midlands - WPD East Midlands</option>
      <option value="10">E England - UKPN East</option>
      <option value="11">SW England - WPD South West</option>
      <option value="12">S England - SSE South</option>
      <option value="13">London - UKPN London</option>
      <option value="14">SE England - UKPN South East</option>
      </select>
      <input type="submit">
    </form>
    <br>
    <embed type="text/html" src="{{url_for('static', filename='carbon_plot_4.html')}}" width="100%" height="500">

    <footer class="footer">
      <small>Made by <a href="https://www.linkedin.com/in/alex-waters-01449534/">Alex</a></small>
    </footer>
  </body>
</html>